* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body > .container {
  max-width: 1320px;
}

.heading {
  background-color: #f72210;
  padding: 20px 10px 25px;
  color: white;
}

#Layer_2 {
  fill: white;
  width: 132px;
  height: 20px;
}

#Layer_1 {
  fill: white;
  width: 396px;
  height: 60px;
}

.burger label {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255, 0.5);
}

.top-nav {
  padding-left: 0;
}

.top-nav > ul {
  width: 95%;
  flex-wrap: nowrap;
}

.top-nav .nav {
  margin-top: -20px;
}

.top-nav li {
  background-color: white;
  height: 56px;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-nav a {
  white-space: nowrap;
}

.top-nav li::after {
  border-right: 1px solid rgb(85, 85, 85, 0.2);
  width: 100%;
  height: 50%;
  white-space: nowrap;
  content: "";
}

.top-nav .form-inline {
  width: 100%;
}

.top-nav > ul label,
.top-nav .form-control {
  width: 100%;
}

.top-nav li:last-child a {
  width: 150px;
  border: none;
}

.top-nav li.nav-item:last-child {
  position: relative;
}

.top-nav li.nav-item:last-child::after {
  content: "";
  width: 19px;
  height: 14px;
  background-color: #f72210;
  position: absolute;
  top: -5px;
  right: -6px;
  transform: rotate(45deg);
  border: none;
}

.top-nav li:nth-last-child(2) a {
  border: none;
  padding-right: 0;
}

.top-buttons button {
  height: 26px;
  border: 0;
}

.top-buttons button:first-child {
  background-color: transparent;
}

.top-buttons > button:last-child {
  color: #f72210;
  background-color: #fff;
  border-radius: 0;
  width: 128px;
}

.fa-search {
  top: -8px;
  right: 8px;
  color: #444;
}

#search {
  position: absolute;
  right: 0;
  transition: width 600ms;
  border: none;
}

.burger {
  width: 50px;
  height: 50px;
}

header nav {
  border-bottom: 1px solid rgb(85, 85, 85, 0.2);
}

main {
  padding: 20px 30px;
}

.data figure::after {
  content: attr(data-title);
  position: absolute;
  display: inline;
  background-color: rgba(238, 238, 238, 0.9);
  color: #f72210;
  bottom: 0;
  left: 0;
  padding: 5px 20px;
}

.featured-stories p {
  font-size: 1rem;
  line-height: 1.5;
}

.opinion p {
  font-size: 0.8rem;
  font-weight: bold;
  color: rgba(39, 24, 24, 0.7);
  line-height: 1.5;
}

@media screen and (max-width: 991px) {
  .heading {
    position: sticky;
    top: 0;
  }
}

@media screen and (max-width: 1076px) {
  .nav-link {
    padding: 0.5rem;
  }
}
